.grid {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

header {
    height: 250px;
    background: linear-gradient(88deg, #574AE8 0%, #3EA1DB 100%);
}

header .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0 4rem 0;
    margin-bottom: 3rem;
}

header .text h2 {
    color: var(--dark-40);
    font-size: 2.4rem;
    font-weight: 400;
}

header .text p {
    color: var(--dark-40);
    font-size: 2.3rem;
    font-weight: 400;
}

.search-area {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.20);
    display: flex;
    align-items: center;
    padding: 1.6rem;
}

.input-wrapper {
    display: flex;
    column-gap: 1.6rem;
    width: 100%;
}

.input-wrapper input {
    background: transparent;
    border: none;
    color: var(--dark-40);
    outline: none;
}

.input-wrapper input::placeholder {
    color: var(--dark-40);
    font-family: 'Inter', sans-serif;
    opacity: 0.5;
    font-size: 1.8rem;
    width: 100%;
}

section {
    background-color: var(--dark-30);
}

section .post {
    padding: 8rem 0 8rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.post article {
    padding: 2.5rem;
    height: auto;
    background-color: var(--dark-40);
    border-radius: 0.5rem;
}

.post article .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.post article .top span {
    font-size: 16px;
    color: var(--dark-20);
}

.post article .content h2 {
    font-weight: 400;
    font-size: 2.6rem;
    color: var(--dark-10);
    margin: 1.5rem 0 1rem 0;
}

.post article .content p {
    font-size: 1.8rem;
    color: var(--dark-20);
}

@media (max-width: 950px) {
    header {
        padding: 3rem;
    }

    section .post {
        padding: 5rem 3rem 3rem 3rem;
    }
}

@media (max-width: 400px) {
    .post article .content h2 {
        font-size: 2.2rem;
    }

    .post article .content p {
        font-size: 1.6rem;
    }
}